@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui"{
  themes: dark --default;
}

:root {
  font-family: "Inter", sans-serif;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
  --color-base-100: #162456;
  --color-base-200: #111B3C;
  --color-base-300: #0F172B80;
}